<h1 class="message_form">Create a message</h1>
<form action="POST" action="/new">
    <input type="text" name="messageUser" class="form_input">
    <input type="text" name="messageText" class="form_input">
    <button class="form_button">Submit</button>
</form>