{{!-- Templating languages either use HTML to define the layout 
or use different markup formats that can be transpiled into
HTML. Handlebars is the former. --}}


<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
