{{!-- The base template so that developers don't have to duplicate 
boilerplate code in every page; developers can just extend this by
replacing the body with the bits that are different for each specific
page --}}

<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <div class="sidebar">
            <ul class="sidebar-nav">
              <li><a href="/catalog">Home</a></li>
              <li><a href="/catalog/books">All books</a></li>
              <li><a href="/catalog/authors">All authors</a></li>
              <li><a href="/catalog/genres">All genres</a></li>
              <li><a href="/catalog/bookinstances">All book-instances</a></li>
              <li><a href=""></a></li>
              <li><a href="/catalog/author/create">Create new author</a></li>
              <li><a href="/catalog/genre/create">Create new genre</a></li>
              <li><a href="/catalog/book/create">Create new book</a></li>
              <li><a href="/catalog/bookinstance/create">Create new book instance</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
    {{{body}}}
    </div>
  </body>
</html>
