{{!-- The base template so that developers don't have to duplicate 
boilerplate code in every page; developers can just extend this by
replacing the body with the bits that are different for each specific
page --}}

<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
